body, html, div {
  padding: 0;
  margin: 0; }

button {
  border: none;
  text-decoration: none;
  height: 100%;
  padding: 0;
  margin: 0;
  max-height: 3em;
  background-color: grey;
  color: whitesmoke;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 1em;
  padding: .25em;
  margin-right: 1px; }

button[disabled=disabled], button:disabled {
  background-color: #9a9a9a;
  color: #c2c2c2; }

.shuttle-container {
  width: 100vw; }

.shuttle {
  padding-top: 1em;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap; }

.shuttle-route-container {
  background-color: #134565;
  justify-content: space-between;
  height: 2em;
  overflow-y: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.shuttle-info {
  padding: 0;
  margin: 0;
  max-height: 5em;
  background-color: rgba(190, 216, 227, 0.78);
  flex-basis: fit-content;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: scroll; }

.shuttle-info span {
  margin-right: 10px;
  padding-right: 10px; }

@media (min-width: 500px) {
  .breadcrumb,
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif; }
  .breadcrumb li a {
    background-color: #e2231b;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    display: inline-block;
    float: left;
    height: 1em; }
  .breadcrumb li a:after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #e2231b;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2; }
  .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1; }
  .breadcrumb li:first-child {
    order: 0 !important; }
  .breadcrumb li:first-child a {
    padding-left: 10px;
    width: 100%; }
  
  .breadcrumb li:nth-child(2) a {
    background: #34c3c9; }
  .breadcrumb li:nth-child(2) a:after {
    border-left-color: #34c3c9; }
  .breadcrumb li:nth-child(3) a {
    background: #af524e; }
  .breadcrumb li:nth-child(3) a:after {
    border-left-color: #af524e; }
  .breadcrumb li:nth-child(4) a {
    background: #966967; }
  .breadcrumb li:nth-child(4) a:after {
    border-left-color: #699698; }
  .breadcrumb li:nth-child(5) a {
    background: #7f7f7f; }
  .breadcrumb li:nth-child(5) a:after {
    border-left-color: #818181; }
  .breadcrumb li:last-child {
    margin-right: 1em; }
  .breadcrumb li:last-child a {
    min-width: 10em; }
  .breadcrumb li a:hover {
    background: #134565; }
  .breadcrumb li a:hover:after {
    border-left-color: #134565 !important; } }

@media (max-width: 499px) {
  .breadcrumb, ul {
    padding: 0;
    list-style: none;
    flex-direction: column; } }

.search-container {
  width: 100vw;
  min-width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .search-container .search-box {
    flex-grow: 4;
    padding-right: 10px; }
  .search-container .search-buttons {
    flex-grow: 1;
    align-self: flex-end; }
  .search-container .search-box input {
    min-width: 10em;
    width: 100%;
    font-size: 2em;
    background-color: #e8e8e8; }

#numguests {
  width: 3em; }
