html {
  padding: 0;
  margin: 0;
  background: #a62529;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  flex: 1;
}

nav {
  padding: 0;
  margin: 0;
  background-color: black;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

nav ul {
  color: white;
  width: 100vw;
  font: Lato,Helvetica;
  font-size: 2.5em;
  padding-left: 0;
  margin: 0;
  background-color: #0f3650;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: nowrap; }

nav ul li {
  padding: .25em;
  list-style: none; }

nav ul li a {
  cursor: pointer;
  cursor: hand;
  color: whitesmoke; }

nav ul li a:active, nav ul li a:hover {
  background-color: #2f678f; }

.credits {
  color: grey;
  font-size: 1em;
  text-align: center; }

.credits a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1em; }

#home {
  align-self: flex-start; }

#account {
  align-self: flex-end; }
