$shuttle-color1: #e2231b;
$shuttle-color2: green;
$shuttle-color3: blue;
$button-bg-color: grey;
$button-f-color:whitesmoke;
$font-stack: Roboto;
body,html,div{
  padding: 0;
  margin: 0;
}
button{
  border: none;
  text-decoration: none;
  height: 100%;
  padding: 0;
  margin: 0;
  max-height: 3em;
  background-color: $button-bg-color;
  color: $button-f-color;
  font-family: $font-stack;
  font-size: 1em;
  padding: .25em;
  margin-right: 1px;
}
button[disabled=disabled], button:disabled{
  background-color: lighten($button-bg-color, 10%);
  color: darken($button-f-color,20%);
}
.shuttle-container {
  flex-grow: 1;
  margin: .5em;
  display: flex;
}
.dashboard-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shuttle {
    padding-top: 1em;
    // max-width: 30em;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.shuttle-card-container{
  flex-grow: 1;
  margin: .5em;
}

.shuttle-route-container {
    background-color: rgb(19, 69, 101);
    justify-content: space-between;
    height: 2em;
    overflow-y: visible;
    // flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.shuttle-info {
    // padding-top: 0.5em;
    padding: 0;
    margin: 0;
    // height: 2em;
    max-height: 5em;
    background-color: rgba(190, 216, 227, 0.78);
    flex-basis: fit-content;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow-x: scroll;
}
.shuttle-info span{
  // padding: .25em;
  margin-right: 10px;
  padding-right: 10px;
}

@media(min-width:500px) {
    .breadcrumb,
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
        overflow: hidden;
        font: 18px Helvetica, Arial, Sans-Serif;
    }

    .breadcrumb li {
        // float: left;
        // flex-grow: 1;
    }

    .breadcrumb li a {
        background-color: $shuttle-color1;
        color: white;
        text-decoration: none;
        position: relative;
        padding: 10px;
        display: inline-block;
        float: left;
        height: 1em;
    }

    .breadcrumb li a:after {
        content: " ";
        // display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid $shuttle-color1;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }

    .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }

    .breadcrumb li:first-child {
        order: 0 !important;
        // flex-grow: 2;
        // min-width: 10em;
    }

    .breadcrumb li:first-child a {
        padding-left: 10px;
        width: 100%;
    }

    ,
    .breadcrumb li:nth-child(2) a {
        background: complement(desaturate($shuttle-color1, 20%));
    }

    .breadcrumb li:nth-child(2) a:after {
        border-left-color: complement(desaturate($shuttle-color1, 20%));
    }

    .breadcrumb li:nth-child(3) a {
        background: desaturate($shuttle-color1, 40%);
    }

    .breadcrumb li:nth-child(3) a:after {
        border-left-color: desaturate($shuttle-color1, 40%);
    }

    .breadcrumb li:nth-child(4) a {
        background: desaturate($shuttle-color1, 60%);
    }

    .breadcrumb li:nth-child(4) a:after {
        border-left-color: invert(desaturate($shuttle-color1, 60%));
    }

    .breadcrumb li:nth-child(5) a {
        background: desaturate($shuttle-color1, 80%);
    }

    .breadcrumb li:nth-child(5) a:after {
        border-left-color: invert(desaturate($shuttle-color1, 80%));
    }

    .breadcrumb li:last-child {
        margin-right: 1em;
    }

    .breadcrumb li:last-child a {
      min-width: 10em;
    }


    .breadcrumb li:last-child a:after {}

    .breadcrumb li a:hover {
        background: rgb(19, 69, 101);
    }

    .breadcrumb li a:hover:after {
        border-left-color: rgb(19, 69, 101) !important;
    }
}
@media(max-width:499px){
  .breadcrumb  , ul{
    padding: 0;
    list-style: none;
    flex-direction: column;
  }
}

.search-container{
  min-width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  }

  .search-box{
    flex-grow: 1;
    padding-right: 10px;
  }
  .search-button-container{
    flex-grow: 1;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
  }
  .search-button{
    flex-grow: 1;
  }
  .search-box input{
    min-width: 10em;
    font-size: 2em;
    background-color: darken(whitesmoke,5%);
  }

#numguests{
  width: 3em;
}
