@import '../../../node_modules/material-design-lite/src/material-design-lite';

$site-color1: #e2231b;
$site-color2:#af524e;
$site-color3:#134565;
$mobile-breakpoint: 1025px;

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sick-spinner{
  height: 20em;
  width: 20em;
}

html {
  background: rgb(166, 37, 41);
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
//   height: 100%;
}
body {
//   width: 100vw;
//   height: 100%;
  // padding: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main{
  // display: inlinfe-block;
  // float: left;
  flex: 1;
  padding: 20px;
  // max-width: 50em;
  // display: flex;
  // justify-content: center;
}
nav{
  padding: 0;
  margin: 0;
}
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

nav ul{
  width: 100%;
  font: Roboto, Helvetica;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  background-color: darken($site-color3, 5%);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
nav ul li {
  padding: .25em;
  // margin-right: 1em;
  list-style: none;

}
nav ul li a{
  // width: 100%;
  cursor: pointer;
  cursor: hand;
  color: whitesmoke;
  // background-color:;
}
nav ul li a:active,nav ul li a:hover{
  background-color: rgb(47, 103, 143);
}
.credits{
  color: grey;
  font-size: 1em;
  text-align: center;
}
.credits a{
  text-decoration: none;
  color: lightgrey;
  font-size: 1em;
}
#home{
  align-self: flex-start;
}
#account{
  align-self: flex-end;

}

.mdl-layout__drawer-button {
 display: flex;
 justify-content: center;
}

.material-icons {
 align-self: center;
}

@media screen and (min-width:$mobile-breakpoint) {
  .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-layout__header-row {
    padding-left: 20px;
  }
}
