<div class="account-follow account-container">
  <span class="mdl-chip mdl-chip--contact">
          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">
            <span (click)="toggleOptions()" class="icon-stack">
              <i id="prof-icon" class="material-icons">account_circle</i>
              <i id="kbd-icon" class="material-icons">keyboard_arrow_down</i>
            </span>
  </span>
  <span class="mdl-chip__text"><span class="mdl-badge" attr.data-badge="+{{user.numGuests}}">{{user.first_name}}, "{{user.username}}"</span></span>
  </span>
  <div >{{words}}</div>
</div>
